/* .carousel-1 {
  min-height: 300vh;
  background-image: url("assets/images/MedicalBig1.jpg");
} */

/* .carousel-2 {
  min-height: 300vh;
  background-image: url("assets/images/darkerWeedGrid.jpg");
}

.carousel-3 {
  min-height: 300vh;
  background-image: url("assets/images/DispensaryLeaf.jpg");
} */

.carousel-content {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  color: magenta;
  background-color: rgba(255, 255, 255, 0.5);
}

/* .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
} */

.carousel-item {
  min-height: 400px;
}
.carousel-item.img {
  vertical-align: middle;
  border-style: none;
  /* height: 50vh; */
  width: 100%;
  background-size: cover;
  min-height: 400px;
}

/* #myCarousel {
  width: 100%;
  height: 20vh;
} */

/* .img {
  object-fit: contain;
} */
