/* .carousel-1 {
  min-height: 300vh;
  background-image: url("assets/images/MedicalBig1.jpg");
} */

/* .carousel-2 {
  min-height: 300vh;
  background-image: url("assets/images/darkerWeedGrid.jpg");
}

.carousel-3 {
  min-height: 300vh;
  background-image: url("assets/images/DispensaryLeaf.jpg");
} */
